*{
    transition: 0.3s ease;
}

.sidebar{
    position: fixed;
}

.left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 5rem;
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: start;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: #1B1A1F;
    color: #FDFCFE;
    border-right: 2px solid #FDFCFE;
    transition: width 0.3s ease;

    .logo, .photo {
        //margin-top: 10px;
        width: 3.6rem;
        border-radius: 50%;
        transition: 0.1s ease-in-out;

        &:hover {
            border-radius: 20%;
            transition: 0.1s ease-in-out;
        }
    }

    hr {
        width: 100%;
        margin: 10px 0;
    }

    .add-button, .logout {
        //margin-bottom: 5px;
        //margin-top: 5px;
        background: none;
        border: none;

        svg{
            width: 3.6rem;
            height: 3.6rem;
            padding: 0.35vw;
            cursor: pointer;
            border: 3px solid #A238FF;
            border-radius: 50%;
            transition: 0.1s ease-in-out;

            &:hover {
                border-radius: 20%;
                transition: 0.1s ease-in-out;
            }
        }

        &:hover  svg{
            border-radius: 20%;
            transition: 0.1s ease-in-out;
        }
    }


    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #FDFCFE;
        font-size: 1.5rem;
        margin-top: 10px;
        max-width: 14rem;

        .title-app{
            color: #A238FF;
            font-size: 1.5rem;
            font-weight: bold;
        }

        &:hover  img, svg{
            border-radius: 20%;
            transition: 0.1s ease-in-out;
        }
    }

    span{
        margin-left: 1rem;
        font-size: 1.3rem;
    }

    &.expanded {
        display: block;
        padding-left: 1rem;
        overflow: hidden;
    }
}

.right{
    position: fixed;
    left: 5rem;
    width: 1.4rem;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease;

    svg{
        cursor: pointer;
    }
}

.list-user {
    width: 4.2rem;
    height: 55vh;
    overflow-y: scroll;
    //scrollbar-color: rebeccapurple green;
    scrollbar-width: none;
    max-width: 14rem;
}

.profil {
    max-width: 14rem;
}


#new-conv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 3, 39, 0.19);

    .center-div {
        width: 50%;
        height: 70%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        background-color: #1B1A1F;
        color: #FDFCFE;
    }

    h2 {
        margin: 0 0 2rem;
    }

    hr {
        width: 50%;
        margin-bottom: 1em; // ajoute un espace sous le trait
    }

    .list-user-center {
        width: 100%;
        height: 55vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }
}