<div class="sidebar">
    <div class="left" [ngStyle]="{'width': sidebarWidth}" [ngClass]="{'expanded': isSidebarExtended}">
        <a routerLink="/home">
            <img src="../../assets/logo.png" alt="Logo" class="logo">
            <span class="title-app" *ngIf="isSidebarExtended">ChatOnline</span>
        </a>
        <hr>

        <a href="" class="profil">
            <img src="{{userConnected.photo_url}}" alt="{{userConnected.photo_url}}" class="photo">
            <span  *ngIf="isSidebarExtended">{{ userConnected.username }}</span>
        </a>

        <a (click)="onLogOut()" routerLink="" class="logout">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A238FF">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
            </svg>
            <span *ngIf="isSidebarExtended">Logout</span>
        </a>

        <a class="add-button" >
            <a (click)="showNewPost()">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#A238FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                <span *ngIf="isSidebarExtended">New Chat</span>
            </a>
        </a>


        <hr>

        <div class="list-user" [ngStyle]="{'width': sidebarWidth}" [ngClass]="{'expanded': isSidebarExtended}">
            @for (userConnected of users; track userConnected){
                <a routerLink="/conversation/{{userConnected.id}}">
                    <img src="{{userConnected.photo_url}}" alt="{{userConnected.photo_url}}" class="photo">
                    <span  *ngIf="isSidebarExtended">{{ userConnected.username }}</span>
                </a>
            }
        </div>

    </div>
    <div class="right" [ngStyle]="{'left': sidebarWidth}">
        @if (!isSidebarExtended){
            <svg (click)="extendSidebar()" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#FDFCFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-last"><path d="m7 18 6-6-6-6"/><path d="M17 6v12"/></svg>
        } @else{
            <svg (click)="extendSidebar()"  xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#FDFCFE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-first"><path d="m17 18-6-6 6-6"/><path d="M7 6v12"/></svg>
        }

    </div>
</div>

<div id="new-conv" [style.display]="isNewPostVisible ? 'flex' : 'none'" (click)="hideNewPost($event)">
    <div class="center-div">
        <h2>Online Users</h2>
        <hr>
        <div class="list-user-center">
            @for (userConnected of users; track userConnected){
                <app-user [user]="userConnected" routerLink="/conversation/{{userConnected.id}}" (click)="hideNewPost($event)"></app-user>
            }
        </div>
    </div>
</div>
